<style type="text/css">
	.card-body {
		width: 30%;
		display: inline-block;
	}
	.card {
		display: inline;
	}
</style> 

<h1>Welcome ! There are all the potin list in this site, enjoy ! </h1>

<%= @l.times do |n| %>
	<div class="card">
	  <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
	  <div class="card-body">
	    <h5 class="card-title">Potin <%= n+1 %></h5>
	    <p class="card-text"><ul>
			<li> Author : <%= Content.find(n+1).author.first_name %> </li> 
			<li> Title : <%= Content.find(n+1).title %> </li>
		</ul></p>
	    <a href="/welcome/<%= Content.find(n+1).author.id %>" class="btn btn-primary">more</a>
	  </div>
	</div>
<% end %>




